@using Kendo.Mvc.UI
@using BCES.Models.Parts

@model IEnumerable<NscPartsUsedViewModel>

@{
    ViewData["Title"] = "Nsc Parts Used Grid";
}

<div class="container">
    @(Html.Kendo().Grid(Model)
        .Name("NscPartsUsedGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.OrigSuppNum).Title("Supplier Number");
            columns.Bound(p => p.OrigSupplierName).Title("Supplier Name");
            columns.Bound(p => p.Keyword).Title("Keyword");
            columns.Bound(p => p.PartDescription).Title("Part Description");
            columns.Bound(p => p.PerUnitCost).Title("Per Unit Cost");
            columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            }).Width(200);
        })
        .ToolBar(toolbar => toolbar.Create())
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .Pageable()
        .Sortable()
        .Filterable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.Id))
            .Read(read => read.Action("GetNscPartsUsedView", "NscPartsUsed"))
            .Create(create => create.Action("CreateNscPartsUsed", "NscPartsUsed"))
            .Update(update => update.Action("UpdateNscPartsUsed", "NscPartsUsed"))
            .Destroy(destroy => destroy.Action("DeleteNscPartsUsed", "NscPartsUsed"))
        )
    )
</div>