@model UserViewModel

<script id="role-dropdown-template" type="text/x-kendo-template">
    <select class="role-dropdown" data-bind="value: RoleModel.RoleName">
        @foreach (var role in ViewData["Roles"] as List<RoleModel>)
        {
            <option value="@role.RoleId">@role.RoleName</option>
        }
    </select>
</script>
