<script type="text/x-kendo-template" id="grid-edit-template">
    <div>
        <!-- Other fields -->
        <label for="SelectedSites">Sites:</label>
        @(Html.Kendo().MultiSelect()
            .Name("SelectedSites")
            .DataTextField("SiteName")
            .DataValueField("SiteId")
            .BindTo(Model.Sites)
            .Events(e => e.Change("onSiteChange"))
        )
        <!-- Hidden field to hold selected site IDs -->
        <input type="hidden" name="SelectedSites" id="SelectedSitesHidden" value="" />
    </div>
</script>