@* RoleNameDropDown.cshtml *@
@model BCES.Admin.UserViewModel

<script id="role-dropdown-template" type="text/x-kendo-template">
    <select class="role-dropdown" data-bind="value: RoleModel.RoleId">
        @foreach (var role in ViewData["Roles"] as List<BCES.Admin.RoleModel>)
        {
            <option value="@role.RoleId">@role.RoleName</option>
        }
    </select>
</script>