@page
@model YourNamespace.ManageUserModel

<h1>Manage Users</h1>

@(Html.Kendo().Grid<YourNamespace.Models.UserViewModel>()
    .Name("UserGrid")
    .Columns(columns =>
    {
        columns.Bound(u => u.UserId).Hidden();
        columns.Bound(u => u.UserName);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
    })
    .ToolBar(toolbar => toolbar.Create().Text("Add"))
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Model(model => model.Id(u => u.UserId))
        .Read(read => read.Url("/ManageUser?handler=GetUsers").Type(HttpVerbs.Post))
        .Create(create => create.Url("/ManageUser?handler=CreateUser").Type(HttpVerbs.Post))
        .Update(update => update.Url("/ManageUser?handler=UpdateUser").Type(HttpVerbs.Post))
        .Destroy(destroy => destroy.Url("/ManageUser?handler=DeleteUser").Type(HttpVerbs.Post))
    )
)