<div class="k-menu">
    @(Html.Kendo().Menu()
          .Name("MainMenu")
          .Items(items =>
          {
              items.Add()
                   .Text("Reports")
                   .Items(subItems =>
                   {
                       subItems.Add().Text("Vehicle Estimate").Action("ReportViewer", "Reports", new { reportName = "VehicleEstimate" });
                       subItems.Add().Text("Other Report 1").Action("ReportViewer", "Reports", new { reportName = "OtherReport1" });
                       subItems.Add().Text("Other Report 2").Action("ReportViewer", "Reports", new { reportName = "OtherReport2" });
                   });
          })
    )
</div>
