@{
    ViewData["Title"] = "Reports Viewer";
    var reportName = ViewData["ReportName"]?.ToString();
}

<h2>Report Viewer - @reportName</h2>

<div id="reportViewer" style="width: 100%; height: 800px;">
</div>

@section Scripts {
    <script src="https://kendo.cdn.telerik.com/2023.3.1015/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.3.1015/js/kendo.all.min.js"></script>
    <script src="https://cdn.telerik.com/reporting/17.0.23.1015/js/telerikReportViewer.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#reportViewer").telerik_ReportViewer({
                serviceUrl: "/api/report",
                templateUrl: "/ReportViewer/templates/telerikReportViewerTemplate.html",
                reportSource: {
                    report: "@reportName.trdp"
                },
                viewMode: "INTERACTIVE",
                scaleMode: "FIT_PAGE_WIDTH",
                printMode: "PDF",
                enableAccessibility: true
            });
        });
    </script>
}
