@page
@model YourNamespace.YourPageModel
@using Telerik.ReportViewer.AspNetCore
@using Telerik.ReportViewer.Mvc

<div>
    @(Html.TelerikReporting().ReportViewer()
        .Id("reportViewer")
        .ServiceUrl("/api/reports")
        .ReportSource(new UriReportSource() { Uri = "YourReportName.trdp" })
        .ViewMode(ViewMode.Interactive)
        .ScaleMode(ScaleMode.Specific)
        .Scale(1.0)
        .PersistSession(false)
        .PrintMode(PrintMode.AutoSelect)
    )
</div>