@model IEnumerable<BCES.Models.Admin.UserViewModel>

@{
    ViewData["Title"] = "User Management";
}

<h2>User Management</h2>

@(Html.Kendo().Grid<BCES.Models.Admin.UserViewModel>()
    .Name("userGrid")
    .Columns(columns =>
    {
        columns.Bound(u => u.UserName).Title("User Name");
        columns.Bound(u => u.RoleName) // Display RoleName
            .Title("Role Name")
            .EditorTemplateName("RoleDropDown");

        columns.Command(command =>
        {
            command.Edit();
            command.Destroy();
        }).Title("Actions");
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Url(Url.Action("ReadUsers", "UserManagementGrid")).Type(HttpVerbs.Get))
        .Create(create => create.Url(Url.Action("UserViewAdd", "UserManagementGrid")).Type(HttpVerbs.Post))
        .Update(update => update.Url(Url.Action("UpdateUser", "UserManagementGrid")).Type(HttpVerbs.Post))
        .Destroy(delete => delete.Url(Url.Action("DeleteUser", "UserManagementGrid")).Type(HttpVerbs.Post))
        .Model(model =>
        {
            model.Id(u => u.UserId);
            model.Field(u => u.UserName).Editable(true);
            model.Field(u => u.RoleId).DefaultValue(0); 
            model.Field(u => u.RoleName);
        })
        .Events(events => events.Error("errorHandler"))
    )
)

@section Scripts {
    <script>
        function onRoleChange(e) {
            var selectedRoleId = this.value();
            var selectedRoleName = this.text();

            var grid = $("#userGrid").data("kendoGrid");
            var currentModel = grid.dataItem($(e.sender.element).closest("tr"));
            currentModel.set("RoleId", selectedRoleId);
            currentModel.set("RoleName", selectedRoleName);
        }

        function errorHandler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}
