Requirements :
The objective of the software is to provide an accurate estimating system for the costs of rebuilding Buses and Parts. The application provides supervisors with the tools for calculating budgets, allocating funds, as well as reducing and optimizing costs.
Material Parts: This section is used to put together all the costs associated with rebuilding a part. Here users can add different types of parts as
well as the labour used to rebuild a part.
Vehicle Estimate: This section is used to put together all the costs associated with rebuilding a vehicle or part of a vehicle. Here user can add
different types of parts as well as the labour used in the rebuilding process.
A Make vs. Buy is an estimate created before a part is considered to be rebuilt. The user creates an estimate for the cost of rebuilding a part, as
well as obtaining the costs of buying the part new, buying the part rebuilt, etc. Once all the data is gathered a report can be printed summarizing these results.

Reports: This section describes the printing of Reports for various data in the cost estimate system

Requirements (each requirement is starting with R (example R1, r2....R40) below) :
R1 :
Functionality to be able to perform Search by Type of Part and option to search by Rebuilt Number, Keyword, Vehicle Series, Description, Stock Coded Number, Price, and Supplier Number.
Functionality to be able to Add Rebuilt Part to the System with the following fields:
Input-box Required Data Type When Typed
"Rebuilt Stock Code" Yes Alpha-numeric Will be converted to upper case
"Description" No Alpha-numeric Will be converted to upper case
"Keyword" Yes Alpha-numeric will be converted to upper case
"Job Number" No Alpha-numeric will be converted to upper case
"MMS Buy Code" Yes Numeric

"Tore Code" Yes Numeric
Core Cost" No Numeric
"SOP Number" No Alpha-numeric Will be converted to upper case
R2 :
Functionality to be able to Add Non-Stock Coded Part to the System with the following fields:
Input-box Required Data Type When Typed
'Supplier Name" Yes Alpha-numeric Will be converted to upper case
'Supplier Number" Yes Alpha-numeric Will be converted to upper case
"Keyword" Yes Alpha-numeric Will be converted to upper case
'Part Description" Alpha-numeric Will be converted to upper case Yes
'Part Unit Cost ($/unit)" No Numeric
R3 :
Functionality to be able to Delete Non-Stock Coded Part from the System
R4 :
Functionality to View information details of Stock Coded Part:

Stock Code
Description
Keyword
Price

R5:

Functionality to View and or Edit information details of Non-Stock Coded Part:
Input-box Required Data Type When Typed
"Supplier Name" No Alpha-numeric
"Supplier Number"
No Alpha-numeric
"Keyword"
Yes Alpha-numeric
"Part Description" Will be converted to upper
Yes Alpha-numeric Will be converted to upper case case "Part Unit Cost ($/unit)"
R6: No Numeric
Functionality
to Edit and Update "Rebuilt Part Estimate" fields
Input-box
Required
"Description" Data Type
No When Typed Alpha-numeric
"Keyword" Will Yes be converted to upper case
"Job Number" Alpha-numeric Will be converted to upper case
No Alpha-numeric
"Core Code" Will be converted to upper case
Yes Numeric
"Core Cost"
No Numeric "SOP Number"
No Alpha-numeric "Buy Cost"
?? Will be
"Remanufactured Cost" Numeric converted to uppercase 

R7 :
Verify that Users can Edit and Update Rebuilt Part information Functionality to View all the Labour information in a Rebuilt Part Estimate

Labour Type
Cost Centre
Task
Usage
Time
Wrench Time
Rate Per Hour
Extended Time
All Labour Summary

R8 :
Functionality to Add a Labour Task to a Rebuilt Part Estimate Input-box Required Data Type When Typed

'Task Description" Yes Alpha-numeric Will be converted to upper case
"Labour Position" Yes Alpha-numeric Will be converted to upper case
"Cost Centre" Yes Alpha-numeric Will be converted to upper case
"Percent Usage" Yes Numeric
"Hours Required H" No Numeric
"Hours Required M" No Numeric
R9 :
Functionality to Add a Rebuilt Part to the Rebuilt Part Estimate
Field Required Data Type Comment
Rebuilt Number Yes Alpha-numeric Drop down List
Keyword" No Alpha-numeric Pre-populated, display field only
Description \No Alpha-numeric Pre-populated, display field only
Quantity Yes Numeric Text Box
Percent Usage Yes Numeric Text Box
Last Revised No Pre-populated, display field only
Part Cost ($/unit) No Numeric Pre-populated, display field only
R10:
Functionality to be able to Edit a Rebuilt Part in the Rebuilt Part Estimate

Navigation:

File Edit Format View Help

Navigation:
1. Search Material Parts and select the option Rebuilt Part
2. Double-click on a record and then select Load Rebuilt Part Estimate
3. Click on View and select option Materials Listing
4. On the Rebuilt Part grid, double-click on a record to edit
Fields Required Data Type Comment
Rebuilt Number No Numeric Pre-populated, display field only
Keyword No Alpha-numeric
Description No Alpha-numeric Pre-populated, display field only
Quantity Yes Numeric Input Box
Percent Usage Yes Numeric Input Box
Last Revised No Alpha-Numeric Pre-populated, display field only
Part Cost ($/Unit) No Numeric Pre-populated, display field only
R11:
Add a Stock Coded Part to the Rebuilt Part Estimate
Field Required Data Type Comment
MMS Stock Code Yes Numeric Drop Down list
Part Information No Alpha-numeric Pre-populated, display field only
Part Description No Alpha-numeric Pre-populated, display field only
Cost Centre Yes Alpha-numeric Drop Down list
Percent Usage Yes Numeric
Quantity Yes Numeric
Last Revised No Alpha-numeric Pre-populated, display field only
'Core Cost ($/unit)" No Numeric

R12 :
Functionality to be able to Edit a Stock Coded Part in the Rebuilt Part Estimate Field Required Data Type Comment
MS Stock Code No Numeric Pre-populated, display field only
Part Type No Alpha-numeric Pre-populated, display field only
Part Description No Alpha-numeric Pre-populated, display field only
Cost Centre Yes Alpha-numeric Drop Down List
Percent Usage Yes Numeric
Quantity Yes Numeric


Functionality to be able to Edit a Stock Coded Part in the Rebuilt Part Estimate
Field Required Data Type Comment
MMS Stock Code No Numeric Pre-populated, display field only
Part Type No Alpha-numeric Pre-populated, display field onlyₙₒ Part Description
Alpha-numeric Pre-populated, display field only
Cost Centre Yes Alpha-numeric Drop Down List
Percent Usage Yes Numeric
Quantity Yes Numeric
Last Revised No Alpha-numeric
Pre-populated, display field only "Part Unit Cost ($/unit)"
No Numeric Pre-populated, display field only
Core Cost ($/Unit) Yes Numeric
R13:
Add a Non-Stock Coded Part to the Rebuilt Part Estimate
Functionality to be able to Add a Non-Stock Coded Part to the Rebuilt Part Estimate
Input-box Required
Data Type When Typed
"Supplier Number"
Yes Alpha-numeric Will be converted to upper case "Cost Centre"
Yes Alpha-numeric Will be converted to upper case
"Percent Usage" Yes Numeric
"Quantity" Yes Numeric
"Part Unit Cost ($/unit)"
Yes Numeric
"Core Cost ($/unit)" No Numeric
R14 Edit a Non-Stock Coded Part in the Rebuilt Part Estimate
Field Required
Data Type Comment Supplier Number No
Numeric Pre-populated, display field only
Supplier Name No Alpha-numeric Pre-populated, display field onlyₙₒ Part Description
Alpha-numeric Pre-populated, display field only Keyword No
Alpha-numeric
Pre-populated, display field only Cost Centre
Yes Alpha-numeric Drop Down List
Percent Usage Yes Numeric
Quantity Yes Numeric
Last Revised No Alpha-numeric Pre-populated, display field onlyₙₒ Part Unit Cost ($/unit)
Numeric Pre-populated, display field only
Core Cost ($/unit\

R15 :
Implement Vehicle Estimates
Functionality to Search Vehicle Estimates by Vehicle Series, Vehicle Description, Engine, Transmission, Differential, Make, Model, System should output results with following fields:

Estimate #
Vehicle Series Code
Number of Vehicles
Project Description

R16 :
Functionality to Search Vehicle Estimates by Vehicle Series, Vehicle Description, Engine, Transmission, Differential, Make, Model, Y System should output results with following fields:
Create table name it vechileList having columns Vechilelistid (numeric), vichleseriescode (nvarchar), numofvechile(nvarchar 50), projdesc ( nvarchar 200), dateenterd (datetime), enteredby(nvarchar(25), modifiedlatby(nvarchar 25), make (nvarchar 25), model (nvarchar 25), year (nvarchar 25), engine (nvarchar 25), transmission (nvarchar 25), differtial (nvarchar 25), SOPnumber (nvarchar 25)

Estimate #
Vehicle Series Code
Number of Vehicles
Project Description

Functionality to Add a Vehicle Cost Estimate
Input-box Required Data Type When Typed
"Number of Vehicles" Yes Numeric
"SOP Number" No Alpha-numeric Will be converted to upper case
"Vehicle Series" Yes Alpha-numeric Will be converted to upper case
"Estimate Description" Yes Alpha-numeric Will be converted to upper case
"Engine" Yes Alpha-numeric Will be converted to upper case
"Make" Yes Alpha-numeric Will be converted to upper case
"Trans" Yes Alpha-numeric Will be converted to upper case
"Model" Yes Alpha-numeric Will be converted to upper case
"Differential" Yes Alpha-numeric Will be converted to upper case
Year" Yes Numeric

R17 :
Functionality to Add an OEM Kit
Input-box Required Data Type Part Number" When Typed
Yes Alpha-numeric Will be converted to upper case
Kit Detailed Description"
Yes Alpha-numeric Will be converted to upper case Brief Description"
Yes Alpha-numeric Will be converted to upper case

R18 : Functionality to Add a Labour Task to the Vehicle Estimate
Field Required Data Type Comment
Task Description Yes Alpha-numeric Drop Down List
Labour Position Yes Alpha-numeric Drop Down List
Cost Centre Yes Alpha-numeric Drop Down List
Percent Usage Yes Numeric Text Box
Hours Required H No Numeric Text Box
R19 : Functionality to Add a Rebuilt Part to the Vehicle Estimate
Field Required Data Type Comment
Rebuilt Number Yes Alpha-numeric Drop down list
Keyword No Alpha-numeric Pre-populated, display field only
Description No Alpha-numeric Pre-populated, display field only
Percent Usage Yes Numeric
Quantity Yes Numeric
Last Revised No Alpha-numeric Pre-populated, display field only
Part Cost ($/unit) No Numeric
R20 : Functionality to Add a Stock Coded Part to the Vehicle Estimate
Field Required Data Type Comment
MMS Stock Code Yes Numeric
Part Type No Alpha-numeric Pre-populated, display field only
Part Description No Alpha-numeric Pre-populated, display field only
Cost Centre Yes Alpha-numeric Drop down list
Percent Usage Yes Numeric
Last Revised No Alpha-numeric
Quantity Yes Numeric
Core Cost ($/unit) No Numeric
R21 Functionality to Add a Non-Stock Coded Part to the Vehicle Estimate
Field Required Data Type Comment
Supplier Number Yes Alpha-numeric
Drop Down List
Supplier Name Yes Alpha-numeric Drop Down List
Part Description No Alpha-numeric Pre-populated, display field only
Keyword No Alpha-numeric
Pre-populated, display field only
Cost Centre Yes Alpha-numeric Will be converted to upper case
Percent Usage Yes Numerir

R21 : Functionality to Add a Non-Stock Coded Part to the Vehicle Estimate
Field Required Data Type Comment
Supplier Number Yes Alpha-numeric Drop Down List
Supplier Name Yes Alpha-numeric Drop Down List
Part Description No Alpha-numeric Pre-populated, display field only
Keyword No Alpha-numeric Pre-populated, display field only
Cost Centre Yes Alpha-numeric Will be converted to upper case
Percent Usage Yes Numeric
Quantity Yes Numeric
Last Revised No Alpha-numeric Pre-populated, display field onlyₙₒ
Part Unit Cost ($/Unit) Numeric
Core Cost ($/unit) No Numeric
R22 :
Functionality to Add an OEM Kit to the Vehicle Estimate
Input-box Required Data Type When Typed
"Part Number" No Alpha-numeric Will be converted to upper case
"Kit Detailed Description" No Alpha-numeric will be converted to upper case
R23 :View a Temporary (Non- Stock Coded) OEM Kit
R24 Functionality to View a Stock Coded OEM Kit
R25 : Functionality to Add a Non-Stock Coded Part to the Temporary (Non-Stock Coded) OEM Kit Input-box Required
Data Type When Typed
"Supplier Number"
Yes Alpha-numeric Will be converted to upper case
"Cost Centre" Yes Alpha-numeric Will be converted to upper case
"Percent Usage" Yes Numeric
"Quantity" Yes Numeric
"Core Cost ($/unit)" No Numeric
R26 Adp a Stock Coded Part to the Temporary (Non-Stock Coded) OEM Kit
Input-box Required Data Type "MMS Stock Code" When Typed
Yes Numeric
"Cost Centre" Yes Alpha-numeric Will be converted to upper caseₙᵤₘₑᵣᵢ꜀
"Percent Usage" Yes
"Quantity" Yes Numeric
"Core Cost ($/unit)"
No Numeric

Functionality to Search Make vs. Buy Estimate by Make vs. BuyDescription OT Sub Kit in an OEM Kit

Input-box Required
Data Type When Typed
"Make/Buy #" No Alpha-numeric Will be converted to upper case
"Keyword" No Alpha-numeric Will be converted to upper case
"Rebuilt Number"
No Alpha-numeric Will be converted to upper case
"Bus List" Disabled
R28 : Functionality to Add a Make vs. Buy Estimate
Input-box Required Data Type When Typed
"Make vs. Buy #" Yes Alpha-numeric will be converted to upper case
"Key Word" Yes Alpha-numeric Will be converted to upper case
"Description Yes Alpha-numeric Will be converted to upper case
"Number of Bus Using Component" Yes Alpha-numeric Will be converted to upper case "Vendor Part Number" Yes Alpha-numeric Will be converted to upper case
"MMS Buy Code" No Alpha-numeric Will be converted to upper case
"Rebuilt Code" No Alpha-numeric Will be converted to upper case
"Core Code" No Alpha-numeric Will be converted to upper case
"Core Cost" Yes Numeric
"Projected Annual Usage" No Alpha-numeric Will be converted to upper case
"Bench Number" No Alpha-numeric Will be converted to upper case
'S.O.P. #" No Alpha-numeric Will be converted to upper case
'Job Number" No Numeric
"External Rebuilt Cost (See Attached Estimate" No
Numeric
("'Remanufactured Exchange Cost (If Applicable)" No Numeric
"Buy New Cost" No Numeric
R29 : Functionality to Add a Labour Task to the Make vs. Buy Estimate
Input-box Required Data Type When Typed
"Task Description" Yes Alpha-numeric Will be converted to upper case
"Labour Position" Yes Alpha-numeric Will be converted to upper case
"Cost Centre" Yes Alpha-numeric Will be converted to upper case
'Percent Usage" Yes Numeric
"Hours Required H" No Numeric
"Hours Required M" No Numeric
R30 :
Functionality to Add a Rebuilt Part to the Make vs. Buy Estimate

Add a Rebuild Part to the Make vs. Buy Estimate

Input- Required
"Rebuilt Number"
Yes
"Percent Usage" Yes Numeric
"Quantity"
Yes Numeric
"Core Cost ($/unit)"
No Numeric
R31 : Functionality to Add a Stock Coded Part to the Make vs. Buy Estimate Input-box Required Data Type When Typed "MMS Stock Code"
Yes Numeric
"Cost Centre" Yes Alpha-numeric will be converted to upper case
"Percent Usage" Yes Numeric
"Quantity" Yes Numeric
"Core Cost ($/unit)" No Numeric
R32 : Functionality to Add a Non-Stock Coded Part to the Make vs. Buy Estimate Input-box Required Data Type "Supplier Number" When Typed
Yes Alpha-numeric Will be converted to upper case
"Cost Centre" Yes Alpha-numeric Will be converted to upper case
"Percent Usage" Yes Numeric
"Quantity"
Yes Numeric
"Core Cost ($/unit)" No Numeric
R33 Functionality to Convert a Make vs. Buy Estimate to the Rebuilt Part Input-box Required
Data Type When Typed
"Rebuilt Part #" Yes Alpha-numeric Will be converted to upper case
"Stock Code #" Yes Alpha-numeric Will be converted to upper case
R34 : Functionality to Add a new Labour Task Description
Input-box Required
Data Type When Typed "Task Description"
Yes Alpha-numeric Will be converted to upper case 
R35 : Functionality to Add a new Labour Type
Input-box Required
Data Type When Typed 'Labour Definition"
Yes Alpha-numeric Will be converted to upper case
'Rate Per Hour" Yes Numeric
"Hours Per Week" Yes Numeric
R36 :
Functionality to Add a new Salary Rate
Input-box Required
Data Type When Typed

Data Type
Alpha-numeric

When Typed
Will be converted to upper case

 R36 :

Functionality to Add a new Salary Rate
Input-box Required Data Type When Typed
"Wage Group" Yes Numeric
"New Salary Rate" Yes Numeric
R37
Functionality to Add a new Year/Make/Model
Input-box Required Data Type When Typed
"Make" Yes Alpha-numeric Will be converted to upper case
"Model" Yes Alpha-numeric Will be converted to upper case
"Year" Yes Numeric
R38 :
Functionality to Add a new User
Input-box Required
Data Type When Typed
"User Name" Yes Alpha-numeric will be converted to upper case
"Access Level" Yes Numeric
"Force user to change password at first login"
R39 :
Functionality to Add a new Bus
Input-box Required
Data Type When Typed
"Bus Description" Yes Alpha-numeric will be converted to upper case
R40 :
Functionality to Edit an existing Application Settings
Input-box Required Data Type When Typed
"Labour Overhead (%)" Yes Numeric
"Fringe Value"
Yes Numeric
"Non Productive Adjustment"
Yes Numeric
"Tax Rate (%)" Yes Numeric
"Use" Yes
