@Html.Kendo().Grid<RebuiltPartsViewModel>()
    .Name("RebuiltPartsGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.RebuiltNumber);
        columns.Bound(p => p.MMSStockCode);
        columns.Bound(p => p.Keyword);
        columns.Bound(p => p.Description);
    })
    .Events(events => events.RowClick("onRowClick"))
    .Read(read => read.Action("GetRebuiltPartsView", "RebuiltParts"))
)

<div id="details-container"></div>

<script>
    function onRowClick(e) {
        var dataItem = this.dataItem(e.row);
        var rebuiltNumber = dataItem.RebuiltNumber;
        $.ajax({
            url: '@Url.Action("GetRebuiltPartEstimates", "RebuiltParts")',
            type: 'GET',
            data: { rebuiltNumber: rebuiltNumber },
            success: function (result) {
                $('#details-container').html(result);
            }
        });
    }
</script>