@page
@model IndexModel

<div>
    @(Html.Kendo().Grid<UserRoleViewModel>()
        .Name("UserRoleGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.User).Title("User");
            columns.Bound(c => c.Role).ClientTemplateId("roleTemplate").Title("Role");
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Url("/Index?handler=Read"))
        )
    )
</div>

<script id="roleTemplate" type="text/x-kendo-template">
    <div>
        @(Html.Kendo().DropDownList()
            .Name("Role_#=Id#")
            .DataTextField("Name")
            .DataValueField("Id")
            .BindTo(@Model.Roles)
            .ToClientTemplate()
        )
    </div>
</script>