@model IEnumerable<BCES.Models.Admin.UserViewModel>

<div>
    <h2>Manage Users</h2>

    @(Html.Kendo().Grid<BCES.Models.Admin.UserViewModel>()
        .Name("userGrid")
        .Columns(columns =>
        {
            columns.Bound(u => u.UserName).Title("Username").Width(150);
            columns.Bound(u => u.RoleName)
                .Title("Role Name")
                .EditorTemplateName("RoleNameDropDown")
                .Width(150);
            columns.Bound(u => u.Sites)
                .Title("Sites")
                .EditorTemplateName("SiteCheckBoxGroup")
                .ClientTemplate("#= Sites ? Sites.map(site => site.Sitename).join(', ') : '' #")
                .Width(250);
            columns.Command(command =>
            {
                command.Edit().Text("Edit");
                command.Destroy().Text("Delete");
            }).Width(200);
        })
        .ToolBar(toolbar => toolbar.Create().Text("Add New User"))
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Pageable()
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
            {
                model.Id(u => u.UserId);
                model.Field(u => u.UserName).Editable(true);
                model.Field(u => u.RoleId).Editable(true);
            })
            .Read(read => read.Action("ReadUsers", "User"))
            .Create(create => create.Action("AddUser", "User"))
            .Update(update => update.Action("UpdateUser", "User"))
            .Destroy(destroy => destroy.Action("DeleteUser", "User"))
        )
    )
</div>
