@model List<BCES.Models.Admin.SiteModel>

@if (Model != null && Model.Any())
{
    @(Html.Kendo().CheckBoxGroup()
        .Name("Sites")
        .Items(items =>
        {
            foreach (var site in Model)
            {
                items.Add()
                    .Label(site.Sitename)
                    .Value(site.SiteId.ToString());
            }
        })
        .Columns(3)
        .Value(Model.Where(site => site.IsSelected).Select(site => site.SiteId.ToString()).ToArray())
    )
}
else
{
    <p>No sites available to display.</p>
}
