@page
@model BCES.Pages.ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<h2>Manage Users</h2>

@(Html.Kendo().Grid<BCES.Models.UserViewModel>()
    .Name("usersGrid")
    .Columns(columns =>
    {
        columns.Bound(u => u.UserName).Title("User Name");
        columns.Bound(u => u.RoleName).Title("Role Type");
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(u => u.UserId))
        .Read(read => read.Action("GetUsers", "ManageUsers"))
        .Create(create => create.Action("CreateUser", "ManageUsers"))
        .Update(update => update.Action("UpdateUser", "ManageUsers"))
        .Destroy(destroy => destroy.Action("DeleteUser", "ManageUsers"))
    )
)