<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourApp</title>

    <!-- Default Kendo UI Theme -->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2023.2.606/styles/kendo.default-v2.min.css" />

    <!-- Additional Themes -->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2023.2.606/styles/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2023.2.606/styles/kendo.material-v2.min.css" />
    <!-- Add more themes as needed -->

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Theme Selection -->
    <partial name="_ThemeSelection" />

    <!-- Your layout content -->
    @RenderBody()

    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.606/js/kendo.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>